        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        div[v-cloak]{
            display: none;
        }
        *::before,
        *::after {
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        ul,
        ol {
            list-style: none;
        }

        body {
            font-size: 18px;
        }

        button {
            font-size: inherit;
        }

        @media (min-width: 500px) {
            .page {
                height: 100vh;
                overflow: hidden;
                display: flex;
            }
        }

        .page>aside {
            /* width: 200px; */
            border-right: 1px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            flex-shrink: 0;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
        }

        .page>main {
            border: 1px solid red;
            flex-grow: 1;
            overflow: auto;
        }

        .page>aside>.upper {
            display: flex;
            flex-direction: column;
        }

        .page>aside .actions>li {
            margin: 20px;
        }

        .page>aside>.down {
            margin: 20px 0;

        }

        .button {
            padding: 10px;
        }

        .resume {
            max-width: 800px;
            margin: 0 auto;
        }

        .resume>section {
            margin: 50px 0;
        }

        .resume>section>h1 {
            text-align: center;
            margin: 20px 20px;
        }

        .resume>section>h2 {
            text-align: center;
            margin: 20px 20px;
        }

        .resume>section>.profile {
            text-align: center;
        }

        .resume>.skills>ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .resume>.skills>ul>li {
            width: 48%;
            border: 1px solid #e3e3e3;
            margin-top: 10px;
            padding: 10px;
        }

        .resume>.projects {}

        .resume>.projects>ol {}

        .resume>.projects>ol>li {
            margin: 30px 0;
            padding: 10px;
        }

        .resume>.projects header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .resume>.projects header .name {
            margin-right: 1em;
        }

        .resume>.projects header>.start {
            display: flex;
            align-items: center;
        }

        .edit {
        position: relative;
    }

    .edit>button {
        display: none;
        position: absolute;
    }

    .edit:hover button {
        display: inline-block;
        left: 0;
        top: 100%;
    }

    .resume>section>div {
        margin: 0 auto;
        text-align: center;
        ;
    }
    #app {
            position: relative;
        }

        .login {
            position: absolute;   
            top: 30%;
            left: 30%;         
            width: 400px;
            height: 250px;
            background-color: #e2ecf5;
            border: 1px solid #336799;

            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .login button:hover {
            cursor: pointer;
        }
        .login>h2 {
            padding: 10px;
            width: 100%;
            text-align: center;
            background-color:  #336799;
            display: flex;
            justify-content: space-between;
            color:white;
        }
        .login button{
            font-size: 16px;
            padding: 2px;
        }
        .login>form{
            width: 80%;
            flex:1;
            padding:40px 20px;
        }
        .login>form>.row,
        .login>form>.actions
        {
            margin: 10px;
            display: flex;
            justify-content: space-between;
        }
        .login>form>.actions>a{
            color: #336799
        }
        .login>form>.actions>a:hover{
            color: #9dbad4;
            cursor: pointer;
        }

        .register {
            width: 300px;
            height: 400px;
            display: block;
            position: absolute;
            top: 30%;
            left: 40%;
            background: rgb(228, 222, 222);
            display:flex;
            justify-content: center;
            align-items: center;
        }