        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        [v-cloak]{
            display: none !important; 
        }
        *::before,
        *::after {
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        ul,
        ol {
            list-style: none;
        }

        body {
            font-size: 18px;
        }

        button {
            font-size: inherit;
        }

        @media (min-width: 500px) {
            .page {
                height: 100vh;
                overflow: hidden;
                display: flex;
            }
        }

        .page>aside {
            /* width: 200px; */
            border-right: 1px solid rgb(175, 175, 179);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            flex-shrink: 0;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
        }

        .page>main {
            /* border: 1px solid red; */
            flex-grow: 1;
            overflow: auto;
        }

        .page>aside>.upper {
            display: flex;
            flex-direction: column;
        }

        .page>aside .actions>li {
            margin: 20px;
        }

        .page>aside>.down {
            margin: 20px 0;

        }

        .button {
            padding: 10px;
        }

        