section:first-of-type {
  position: relative;
  overflow: hidden;
  margin-top: 128px;
}
section:first-of-type>div {
  z-index: 3;
  position: absolute;
  top: 40%;
  padding: 4px;
}
section:first-of-type>div:hover {
  cursor: pointer;
}
section:first-of-type>#next {
  right: 0;
}
section:first-of-type>#next:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-left-color: #66d9c1;
}
section:first-of-type>#previous {
  left: 0;
}
section:first-of-type>#previous:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-right-color: #66d9c1;
}
section:first-of-type .slider {
  overflow: hidden;
}
section:first-of-type .slider li {
  font-size: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  position: relative;
  float: left;
  margin-right: -100%;
  display: block;
  width: 100%;
  transition: opacity 1s;
}
section:first-of-type .slider li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
}
section:first-of-type .slider li img {
  width: 100%;
  height: auto;
}
section:first-of-type .slider li div {
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}
section:first-of-type .slider li div>* {
  margin-bottom: 10px;
}
section:first-of-type .slider li h2 {
  font-family: cursive;
  color: #fff;
  font-size: 72px;
}
section:first-of-type .slider li div.separator {
  position: static;
  height: 23px;
  background: url("separate.png") center center no-repeat;
}
section:first-of-type .slider li a {
  display: inline-block;
  padding: 24px 41px;
  font-size: 24px;
  color: #fff;
  background-color: #282424;
  font-weight: 800;
}
section:first-of-type .slider li p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  section:first-of-type .slider li h2 {
    font-size: 58px;
  }
  section:first-of-type .slider li a {
    font-size: 22px;
    padding: 20px 36px;
  }
  section:first-of-type .slider li p {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  section:first-of-type .slider li h2 {
    font-size: 38px;
  }
  section:first-of-type .slider li a {
    font-size: 16px;
    padding: 14px 22px;
  }
  section:first-of-type .slider li p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  section:first-of-type .slider li h2 {
    font-size: 24px;
  }
  section:first-of-type .slider li a {
    font-size: 14px;
    padding: 10px 15px;
  }
  section:first-of-type .slider li .content>.separator,
  section:first-of-type .slider li .content>p {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  section:first-of-type .slider li h2,
  section:first-of-type .slider li a {
    display: none;
  }
}
section:first-of-type li.active {
  z-index: 2;
  opacity: 1;
}
@media screen and (max-width: 850px) {
  section:first-of-type {
    margin-top: 102px;
  }
}
@media screen and (max-width: 960px) {
  section:first-of-type>#next::before,
  section:first-of-type>#previous::before {
    border-width: 20px;
  }
}
section.why-us {
  position: relative;
}
section.why-us .curve {
  z-index: 3;
  top: -70px;
  height: 70px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
section.why-us .curve::before {
  position: absolute;
  top: -190px;
  left: -10%;
  content: '';
  display: block;
  width: 120%;
  height: 250px;
  box-shadow: 0 0 0 100px #66d9c1;
  border-radius: 100%;
}
section.why-us>.content {
  padding: 20px 0 120px;
  background-color: #66d9c1;
  text-align: center;
}
section.why-us>.content h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}
section.why-us>.content p {
  color: #357165;
  font-size: 20px;
}
section.why-us .card-wrapper {
  margin-top: -110px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
}
section.why-us .card-wrapper .card {
  text-align: center;
  width: 25%;
}
section.why-us .card-wrapper .card>.content {
  padding: 0 20px 20px;
}
section.why-us .card-wrapper .card>.content h3 {
  line-height: 1.5;
  margin-bottom: 10px;
}
section.why-us .card-wrapper .card>.content p {
  line-height: 1.4;
}
section.why-us .card-wrapper .card .image-wrapper {
  margin: 0 auto;
  height: 176px;
  width: 176px;
  border: 2px dotted rgba(255,255,255,0.4);
  border-radius: 50%;
  padding: 2px;
}
section.why-us .card-wrapper .card .image-wrapper a {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
  position: relative;
}
section.why-us .card-wrapper .card .image-wrapper a img {
  vertical-align: middle;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
section.ourworks {
  text-align: center;
}
section.ourworks .content {
  padding-bottom: 40px;
}
section.ourworks .content h2 {
  font-size: 48px;
  margin-bottom: 20px;
}
section.ourworks .content p {
  font-size: 20px;
}
section.ourworks .gallery {
  display: flex;
  flex-wrap: wrap;
}
section.ourworks .gallery .image-wrapper {
  width: 20%;
  position: relative;
  box-shadow: 0 0 0 2px #fff;
}
section.ourworks .gallery .image-wrapper img {
  width: 100%;
  height: 100%;
}
section.ourworks .gallery .image-wrapper .overlay {
  transition: opacity 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(255,255,255,0.8);
}
section.ourworks .gallery .image-wrapper .overlay a {
  position: absolute;
  top: 45%;
  left: 0px;
  right: 0px;
}
section.ourworks .gallery .image-wrapper:hover .overlay {
  opacity: 1;
}
section.testimonial {
  padding: 80px 20px;
}
section.testimonial .content {
  text-align: center;
}
section.testimonial .content h2 {
  font-size: 48px;
}
section.testimonial .swiper-container {
  padding: 40px 40px;
}
section.testimonial .swiper-container .white-bg-right {
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: #fff;
  z-index: 3;
}
section.testimonial .swiper-container .white-bg-left {
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: #fff;
  z-index: 3;
}
section.testimonial .swiper-container .white-bg-left .swiper-button-next {
  color: #f00;
}
section.testimonial .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
}
section.testimonial .swiper-container .swiper-wrapper .swiper-slide .image-wrapper {
  border: 1px dashed #d6d6d6;
  box-shadow: 0 0 0 3px #fff inset;
  position: relative;
  padding: 20px;
  border-radius: 50%;
  background-color: #ddf5f1;
}
section.testimonial .swiper-container .swiper-wrapper .swiper-slide .image-wrapper img {
  vertical-align: middle;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
section.testimonial .swiper-container .swiper-wrapper .swiper-slide .content {
  padding: 20px 10px;
}
section.testimonial .swiper-container .swiper-wrapper .swiper-slide .image-wrapper:hover {
  background-color: #fdeac2;
}
@media screen and (max-width: 1200px) {
  section.why-us .curve {
    display: none;
  }
  section.ourworks .gallery .image-wrapper {
    width: 25%;
  }
  section.ourworks .gallery>.image-wrapper:nth-child(9),
  section.ourworks .gallery>.image-wrapper:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  section.why-us .content h2 {
    font-size: 36px;
  }
  section.why-us .content p {
    font-size: 16px;
  }
  section.why-us .card-wrapper .card {
    width: 50%;
  }
  section.testimonial .swiper-container .swiper-wrapper .swiper-slide {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  section.why-us>.card-wrapper .card {
    width: 100%;
  }
  section.ourworks .gallery .image-wrapper {
    width: 50%;
  }
  section.ourworks .gallery>.image-wrapper:nth-child(6),
  section.ourworks .gallery>.image-wrapper:nth-child(7),
  section.ourworks .gallery>.image-wrapper:nth-child(8),
  section.ourworks .gallery>.image-wrapper:nth-child(5) {
    display: none;
  }
}
