.token.selector{
    color:black;
}
.token.property{
    color:black;
}
.token.function{
    color:black;
}

body>pre,body>#paper{
    width: 32%;
    margin-top: 50px;
}
#paper{
    height: 90vh;
    background-color: white
}
.project{
    overflow: auto;
    height: 230px;
    padding-left: 30px
}