a {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: #0a3665;
  color: #fff;
}
header>.header-wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.row > .utility-link {
  float: right;
  padding: 8px 0;
}
.utility-link>a{
  display: inline-block;
  padding: 0 10px;
  font-size: 13px;
  border-left: 1px solid #fff;
}
.utility-link>a:first-child{
  border-left: none;
  font-weight: bold;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

a.img-wrapper{
  display: block;
  flex:1;
  padding-left: 72px;
}
.logo-search{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.logo-search>.search{
  width: 45%;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0px 10px 0 14px ;
}
.search>img{
  vertical-align: middle;
}
.search>input{
  box-sizing: border-box;
  border: none;
  display: inline-block;
  height: 100%;
  width: calc(100% - 30px);
  outline: none;
  font-size: 14px;
}
.featured{
  flex:1;
  display: flex;
  justify-content: center;
}
.featured>a{
  text-decoration: underline;
  font-size: 18px;
  padding-left: 20px;
}

.category{
  background-color: #0669b2;
}
.cate-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 70px;
}
.cate-wrapper>a{
  padding:0 6px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 26px;
}
.cate-wrapper>a>img{
  vertical-align: text-bottom;
  padding: 3px 6px 0 6px;
}
.cate-wrapper>a:hover{
  background-color: #06558e;
}
