*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
aside{
    width: 100%;
    float: left;
    height: 200px;
}
pre{
    float:left;
    width: 50%;
    height: 200px;
    overflow-y: auto;
    background-color: #e3e3e3;
    position: relative;
}
#body{
    width: 100%;
    float: left;
}
#body::before{
    content: "";
    display: table;
}
body{
    margin: 0;
    height: 100vh;
}