.container{
  width:400px;
  height:400px;
  background-color:#eeeeee;
  border-radius:50%;
  border:1px solid black;
  margin:100px auto;
}
.taichi{
  width:0px;
  height:0px;
  border: 200px solid white;
  border-bottom-color:black;
  border-right-color:black;
  border-radius:50%;
  position:relative;
  transform:rotate(-45deg);
}
.taichi::after{
  content:"";
  width:40px;
  height:40px;
  background-color:black;
  border:80px solid white;
  border-radius:50%;
  position:absolute;
  top:-29.5px;
  right:-29px;
}
.taichi::before{
  content:"";
  width:40px;
  height:40px;
  background-color:white;
  border:80px solid black;
  border-radius:50%;
  position:absolute;
  bottom:-29.5px;
  left:-29px;
}