body.default .resume {
            max-width: 800px;
            margin: 0 auto;
        }

        body.default .resume>section {
            margin: 50px 0;
        }

        body.default .resume>section>h1 {
            text-align: center;
            margin: 20px 20px;
        }

        body.default .resume>section>h2 {
            text-align: center;
            margin: 20px 20px;
        }

        body.default .resume>section>.profile {
            text-align: center;
        }

        body.default .resume>.skills>ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        body.default .resume>.skills>ul>li {
            width: 48%;
            border: 1px solid #e3e3e3;
            margin-top: 10px;
            padding: 10px;
        }

        body.default .resume>.projects {}

        body.default .resume>.projects>ol {}

        body.default .resume>.projects>ol>li {
            margin: 30px 0;
            padding: 10px;
        }

        body.default .resume>.projects header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        body.default .resume>.projects header .name {
            margin-right: 1em;
        }

        body.default .resume>.projects header>.start {
            display: flex;
            align-items: center;
        }

        body.default .edit {
        position: relative;
    }
/*
    edit button
*/
    body.default .edit>button {
        display: none;
        position: absolute;
        z-index:1;
        left: calc(100% + 1px);
        bottom: 0;
        padding: 4px;
        font-size: 16px;
    }

    body.default .edit:hover button {
        display: inline-block;
    }

    body.default .resume>section>div {
        margin: 0 auto;
        text-align: center;
        ;
    }
    body.default #app {
            position: relative;
        }

/* body.default {
    background-color:#3e3e3e;
    color: white;
} */